.nav{
    width: 100%;
    height: 140px;
    background-color:#292929;
   display: flex;
   flex-direction: column;
   justify-content: center;
    
}

.logo_text{
    color: white;
    border: 2px solid#FFFFFF;
    width: 193px;
    height: 60px;
    margin-left: 77px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

@media screen and (max-width: 850px) {
    .nav{
     
        justify-content: center;
        align-items: center;
    }
    
    .logo_text{
        margin-left: 0;
    }
}

@media screen and (max-width: 376px) {
    .nav{
        width: 100vw;
        justify-content: center;
        align-items: center;
        height: 67px;
    }
    
    .logo_text{
        margin-left: 0;
        transform: scale(0.6);
       

    }
}